#albumImg{
	background: url("images/20_20AlbumCover.jpg") no-repeat center;
	background-size: 250px 250px;
	height:250px;
	width:250px;
}

img{
	background-size: 250px 250px;
	height:250px;
	width:250px;
}
@font-face{
	font-family: "brankovic";
	font-style:normal;
	font-weight:400px;
	src: url("fonts/brankovic.ttf")
}
h1, h2{
	font-family:brankovic;
}

body{
	background-color:black;
	height:100%;
	width:100%;
}

table{
	border: 1px solid white;
}
/*tbody tr:nth-child(odd){
	background:gold; color:grey;
}
tbody tr:nth-child(even){
	background:grey; color:gold;
}*/
th, tr, td{
	font-style:italic;
}
th{
	background-color:grey;
	color:gold;
	text-align:center;
}

td,tr{
	background-color:CBD0D1;
	
}

td{
	text-align:center;
}

ul{
	font-size:20px; 
	color:gold; 
	background:grey;
}
ul li{
	font-style:italic;
	font-family:brankovic;
}

a:link{
	color:purple;
	text-decoration: none;

}
a:visited{
	color:gold;
	text-decoration: none;

}
a:hover{
	background-color:red;
	text-decoration: underline;
}

a:active{
	background-color:yellow;
}
