

#body {
   height:655px;
}


#footer {
    clear: both;
    position: relative;
	text-align: center; 
	line-height: 2em;
}


a{
	padding-left: 30px;
}
nav.a:link, nav.a:visited {
	color: #c6762f; 
	text-decoration: underoline; 
}
nav.a:hover, nav.a:focus {  
		color: #c5764f;

}
th{
	font-size:20px;
}




