
#body {
   height:655px;
}

#footer {
    clear: both;
    position: relative;
	text-align: center; 
	line-height: 2em;
}

label{
    display: inline-block;
    float: left;
    clear: left;
	width: 280px;
    text-align: right;
	padding-right:20px;
	float: left;
	clear: left;
	font-weight:500;
	font-weight:bold;
	font-size:20px;
}
input{
	height:30px;
}
input[type=text]{
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border: 2px solid;
  width:220px;
}
input[type=submit] {
    width: 10em;  
	height: 2em;
	border-radius:5px;
	border: 2px solid;
	font-weight:700;
	width:100;
}
input[type=checkbox]{
	border: 5px solid;
	border-radius: 5px;
	display:inline-block;
	height:15px;
}
textarea{
	border:2px solid;
	width:210px;
}
select{
	border: 2px solid;
	border-radius: 5px;
	width:220px;
	font-weight:600;
	background:transparent;
	background: ;
	height: 30px;
	background: url(images/leroiDrop.png) no-repeat right #ddd;
	background-size:30px;
	-webkit-appearance: none


	
}
input[type=radio]{
	width:15px;
	height:15px;
		border: 5px solid;

}
form{
	width:100%
}

 a{
	padding-left: 30px;
}
nav.a:link, nav.a:visited { 
	color: #c6762f; 
	text-decoration: underoline; 
}
nav.a:hover, nav.a:focus {  
	color: #c5764f;
}
