#container{
	text-align:center;
}

header{
	text-align:center;
	}
	
form{
	text-align:center;
}

label{
	margin-right:15px;
}

input{
	margin-right:35px;
}

button{
	width:150px;
	height:50px;
	margin:20px
}

table,th,tr,td{
	border:1px solid white;
}


table{
	background:#EDEDED;
	margin-top:10px;
}

th{
	font-weight:400;
	padding-top:5px;
	padding-right:20px;
	padding-bottom:15px;
	padding-left:10px;
	
}

td{
	padding-top:5px;
	padding-right:20px;
	padding-bottom:20px;
	padding-left:10px;
}

