label{
    display: inline-block;
    float: left;
    clear: left;
	width: 160px;
    text-align: right;
	padding-right:20px;
	float: left;
	clear: left;
	font-weight:500;
}
input[type=text]{
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border: 2px solid;
  width:200px;
}
input[type=submit] {
    width: 10em;  
	height: 2em;
	border-radius:5px;
	border: 2px solid;
	margin-left:245px;
	font-weight:600;
}
input[type=checkbox]{
	border: 5px solid;
	border-radius: 5px;
	display:inline-block;
	margin-left:180px;
}
textarea{
	border:2px solid;
	width:190px;
}
select{
	border: 2px solid;
	border-radius: 5px;
	width:200px;
	font-weight:600;
	background:transparent;
	background: url(images/dropDownArrow.png) no-repeat right #ddd;
	-webkit-appearance: none

	
}
input[type=radio]{
	border: 5px solid black;
}
form{
	width:500px
}

   }
