@font-face{
	font-family:"danoise";
	font-style:normal;
	font-weight:400;
	src: url("fonts/Danoisemedium.ttf");
}
#container {
	min-height:100%;
    width:100%;
    position:responsive;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

#body{
	padding:10px;
	min-height:100%;
	width:100%;
	background-color:red;
	position:relative;
	margin: 0 auto;
	overflow:auto;
}

#body:after{
	content:'';
	display:block;
	clear:both;
}

.scroll{
	position:relative;
	height:100%;
	width:100%;
	overflow:auto;
}

#footer {
    position:responsive;
	bottom:0;
	width:100%;
	background-color:blue;
	line-height: 2em;
	text-align:center;
}
#header{
	background-color:blue;
	padding-top:10px;
	height:20%;
}
#header h1{
	text-align:center;
	color:red;
	font-family:danoise;
}

table{
	table-layout:responsive;
}

#menu thead{
	text-align:center;
}

#menu tbody td{
	text-align:center;
}
 #beverage tbody td{
	 text-align:center;
	 width:50%;
 }
/*#beverages{
	width:100%;
}
#beverages thead{
	text-align:center;
}

#beverages tbody td{
	padding:5px 0px 5px 10px;
	text-align:left;
}*/
body{
	margin:0;
	padding:0;
	height:100%;
}

nav{
	background-color:red;
	padding-top:10px;
	padding-bottom:10px;
}


a{
	padding-left: 30px;
}

a:link{
	color:white;
} 
a:visited {
	color: blue; 
}

a:hover{
	color:black;
	font-weight:900;
}

a:active {  
		color: grey;
		text-decoration:none;

}

p{
	color:white;
	margin-right:auto; 
	margin-left:auto;
}




   




